.sidenav-container {
    height: 100vh;
  }
  
  mat-sidenav {
    width: 200px;
  }
  
  .contenido {
    padding: 20px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-left: 16px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  button {
    padding-right: 16px;
  }
  
  mat-icon {
    margin-right: 4px;
  }
  

  .boton-verde {
    background-color: #4CAF50;
    color: white;
    margin-right: 16px;
  }
  
  .boton-verde:hover {
    background-color: #45A049;
  }
  