
  .sidenav-container {
    height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/547/557/non_2x/operator-makes-mark-on-survey-topic-auditing-and-evaluating-quality-and-efficiency-of-personnel-checklist-with-checkmarks-and-checkboxes-checklist-ideas-online-assessment-business-growth-free-photo.jpg');
  }
  
  mat-sidenav {
    width: 200px;
  }
  
  .contenido {
    padding: 60px;
    color: rgb(207, 225, 239);
  }
  

  .contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centrado vertical */
    align-items: center;
    text-align: center;
    background-color: #080a2a71;
    background-repeat: no-repeat;
  }


  .boton {
    padding-top: 20px;
  }
  