<mat-sidenav-container class="sidenav-container">
    <!-- Menú lateral -->
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item href="#">Inicio</a>
        <!-- <a mat-list-item href="#">Perfil</a>
        <a mat-list-item href="#">Configuración</a> -->
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Contenido principal -->
    <mat-sidenav-content>
      
      <div class="contenido">
        <h1>Bienvenido</h1>
        
        <div class="boton">
          <button mat-fab extended color="accent">
            <mat-icon>rate_review</mat-icon>
            Crear Encuesta
          </button>
        </div>

      </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>
  