<div class="text-center">
    <div class="alert alert-success mt-3">La encuesta fue creada correctamente.</div>
    <div class="mb-3">
        <strong>Enlace para responder:</strong>
        <div class="input-group mb-2">
        <input type="text" class="form-control"  readonly>
        <button class="btn btn-outline-primary" type="button">Copiar</button>
        </div>
    </div>
    <div class="mb-3">
        <strong>Enlace para ver resultados:</strong>
        <div class="input-group mb-2">
        <input type="text" class="form-control" readonly>
        <button class="btn btn-outline-primary" type="button">Copiar</button>
        </div>
    </div>
    <button class="btn btn-primary mt-3" routerLink="/''">Crear otra encuesta</button>
</div>